streamlit==1.25.0  # Streamlit for creating web apps
# Updated versions to avoid conflicts
langchain-core==0.1.40
langchain-pinecone==0.1.0
groq==0.5.0
streamlit
cohere==5.5.6
openai==0.27.8
PyPDF2==3.0.1
pymupdf==1.22.3
Pillow==9.2.0
pinecone-client==3.2.2
langchain-community==0.2.6
