streamlit==1.25.0  # Streamlit for creating web apps
# Updated versions to avoid conflicts
groq
cohere
PyPDF2
pymupdf
Pillow
pinecone-client
langchain-community
langchain-core
langchain-pinecone
pypdf
